body, * {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 11px
}

/** Враппер блока с картами **/
.card-wrapper {
    width: 460px;
    height: 240px;
    margin: auto;
}

/** сторона карты **/
.card-wrapper .card-side {
    width: 338px;
    height: 213px;
    float: left;
}

/** передняя часть карты  **/
.card-wrapper .card-left {
    position: relative;
    box-sizing: border-box;
    background: #f0f0ee;
    border-radius: 10px;
    transition: background .3s ease-out;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
    overflow: hidden;
    padding: 85px 20px 0;
    z-index: 500;
    color: #605d5d;
}

/** задняя часть карты **/
.card-wrapper .card-right {
    position: relative;
    box-sizing: border-box;
    border-radius: 7px;
    background-color: #e0ddd7;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .1), 0 0 0 1px rgba(0, 0, 0, .1);
    margin-left: -220px;
    margin-top: 26px;
    padding: 85px 20px 0 240px;
    z-index: 400;
}

/** полоса на задней части карты **/
.card-wrapper .card-right:before {
    position: absolute;
    top: 30px;
    left: -1px;
    content: ' ';
    display: block;
    width: 100%;
    height: 46px;
    background-color: #8e8b85;
    border: 1px solid #8e8b85;
}

/** базовый класс иконки платежной системы **/
.card_type_icon {
    position: absolute;
    opacity: 1;
    transition: opacity .5s ease-in-out,right .5s ease-in-out;
    width: 33px;
    height: 26px;
    top: 26px;
    background-repeat: no-repeat
}

/** иконки платежных систем **/
.card_type_icon.card_type_mir {background-image: url(../svg/mir.svg)}
.card_type_icon.card_type_visa {background-image: url(../svg/visa.svg)}
.card_type_icon.card_type_maestro {background-image: url(../svg/maestro.svg)}
.card_type_icon.card_type_mastercard {background-image: url(../svg/mastercard.svg)}

/** позоции иконок платежных систем **/
.card_type_icon:nth-child(2) {
    right: 20px
}

.card_type_icon:nth-child(3) {
    right: 63px
}

.card_type_icon:nth-child(4) {
    right: 106px
}

.card_type_icon:nth-child(5) {
    right: 149px
}

.card_type_icon:nth-child(6) {
    right: 192px
}

.card_type_icon:nth-child(7) {
    right: 235px
}

.card_type_icon:nth-child(8) {
    right: 278px
}

.card_type_icon:nth-child(9) {
    right: 321px
}

.card_type_icon.detected {
    right: 20px
}

/** стили инпутов **/
.input_box {
    position: relative;
    display: block;
    box-sizing: border-box;
    cursor: text;
}

.input_box:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    content: '';
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    background-color: #fff;
    transition: .1s ease-out;
    transition-property: border-color,border-width;
}

.input_box:hover:before {
    border: 1px solid rgba(0,0,0,.3);
}

.error .input_box:before {
    border: 2px solid rgba(255,100,100,.9);
}

.active .input_box:before {
    border: 2px solid #ffdb4d;

}

.input_box input {
    height: 38px;
    border-color: transparent;
    border-right-width: 11px;
    border-left-width: 11px;

    position: relative;
    z-index: 3;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    vertical-align: top;
    color: #000;
    outline: 0;
    background: 0 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-appearance: none;

    font-size: 18px;
}

/** блок срока действия карты **/
.card-valid {
    margin-top: 15px;
}

.card-valid label {
    display: block;
    /*color: #605d5d;*/
    margin-bottom: 5px;
}

.card-valid .input_box {
    width: 55px;
    display: inline-block;
    line-height: 38px
}

.card-valid .divider {
    display: inline-block;
    font-size: 16px;
    margin: 0 5px;
    color: #605d5d;
    line-height: 38px
}

/** блок cvc **/
.card-cvc {
    margin-top: 15px;
}

.card-cvc label {
    text-align: left;
    margin-top: 5px;
    margin-right: 8px;
    max-width: 90px;
    display: inline-block;
    font-size: 11px;
    line-height: 13px;
    color: #999;
}

button.submit {
    margin-top: 10px;
    float: right;
    width: 120px;
    height: 50px;
    line-height: 40px;
    color: #fff;
    background-color: #5cb85c;
    border-radius: 3px;
    border: 1px solid #4cae4c;
    font-size: 17px;
    font-weight: bold;
    margin-right: 3px;
}

.small {
    color: #999;
    font-size: 12px;
    margin-top: 15px;
    text-align: justify;
}

.small a:link, .small a:visited {
    color: black;
    text-decoration: none;
}

.small a:hover {
    text-decoration: underline;
}

.clear {
    clear: both;
}

.hidden {
    display: none;
}

/** логотипы банков **/
.card_type_detected {
    width: 170px;
    height: 35px;
    transition: background .3s ease-out;
    background-color: transparent;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
}

.bank-card_logo_name_avangard {
    background-image: url(../svg/avangard.svg);
    background-repeat: no-repeat
}

.bank-card_logo_name_akbars {
    background-image: url(../svg/akbars.svg)
}

.bank-card_logo_name_alfabank {
    background-image: url(../svg/alfabank.svg)
}

.bank-card_logo_name_az-to-bank {
    background-image: url(../svg/az-to-bank.png)
}

.bank-card_logo_name_baltinvestbank {
    background-image: url(../svg/baltinvestbank.png)
}

.bank-card_logo_name_bank-moskvi {
    background-image: url(../svg/bank-moskvi.svg);
    background-repeat: no-repeat
}

.bank-card_logo_name_binbank {
    background-image: url(../svg/binbank.svg);
    background-repeat: no-repeat
}

.bank-card_logo_name_center-invest {
    background-image: url(../svg/center-invest.png)
}

.bank-card_logo_name_citibank {
    background-image: url(../svg/citibank.svg);
    background-repeat: no-repeat
}

.bank-card_logo_name_crediteuropebank {
    background-image: url(../svg/crediteuropebank.svg);
    background-repeat: no-repeat
}

.bank-card_logo_name_expobank {
    background-image: url(../svg/expobank.svg);
    background-repeat: no-repeat
}

.bank-card_logo_name_express-bank {
    background-image: url(../svg/express-bank.svg);
    background-repeat: no-repeat
}

.bank-card_logo_name_finservice {
    background-image: url(../svg/finservice.png)
}

.bank-card_logo_name_fnp-bank {
    background-image: url(../svg/fnp-bank.png)
}

.bank-card_logo_name_gasprom {
    background-image: url(../svg/gasprom.svg)
}

.bank-card_logo_name_globex {
    background-image: url(../svg/globex.png)
}

.bank-card_logo_name_homecredit {
    background-image: url(../svg/homecredit.svg);
    background-repeat: no-repeat
}

.bank-card_logo_name_intercommerz {
    background-image: url(../svg/intercommerz.png)
}

.bank-card_logo_name_inteza {
    background-image: url(../svg/inteza.svg);
    background-repeat: no-repeat
}

.bank-card_logo_name_jugra {
    background-image: url(../svg/jugra.svg);
    background-repeat: no-repeat
}

.bank-card_logo_name_leto-bank {
    background-image: url(../svg/leto-bank.svg);
    background-repeat: no-repeat
}

.bank-card_logo_name_mdm {
    background-image: url(../svg/mdm.svg)
}

.bank-card_logo_name_mfk {
    background-image: url(../svg/mfk.png)
}

.bank-card_logo_name_mib {
    background-image: url(../svg/mib.png)
}

.bank-card_logo_name_moscredbank {
    background-image: url(../svg/moscredbank.svg)
}

.bank-card_logo_name_mts-bank {
    background-image: url(../svg/mts-bank.svg)
}

.bank-card_logo_name_novikombank {
    background-image: url(../svg/novikombank.svg);
    background-repeat: no-repeat
}

.bank-card_logo_name_otkritie {
    background-image: url(../svg/otkritie.svg);
    background-repeat: no-repeat
}

.bank-card_logo_name_probusiness {
    background-image: url(../svg/probusiness.png)
}

.bank-card_logo_name_promsvyazbank {
    background-image: url(../svg/promsvyazbank.svg);
    background-repeat: no-repeat
}

.bank-card_logo_name_raiffeisen {
    background-image: url(../svg/raiffeisen.svg)
}

.bank-card_logo_name_rgs {
    background-image: url(../svg/rgs.svg);
    background-repeat: no-repeat
}

.bank-card_logo_name_rosbank {
    background-image: url(../svg/rosbank.svg);
    background-repeat: no-repeat
}

.bank-card_logo_name_rossiya {
    background-image: url(../svg/rossiya.svg)
}

.bank-card_logo_name_rsb {
    background-image: url(../svg/rsb.svg)
}

.bank-card_logo_name_russtandart {
    background-image: url(../svg/russtandart.svg);
    background-repeat: no-repeat
}

.bank-card_logo_name_rocketbank {
    background-image: url(../svg/rocketbank.svg);
    background-repeat: no-repeat
}

.bank-card_logo_name_openrocket {
    background-image: url(../svg/openrocket.svg);
    background-repeat: no-repeat
}

.bank-card_logo_name_sberbank {
    background-image: url(../svg/sberbank.svg)
}

.bank-card_logo_name_skb-bank {
    background-image: url(../svg/skb-bank.png)
}

.bank-card_logo_name_smp-bank {
    background-image: url(../svg/smp-bank.svg);
    background-repeat: no-repeat
}

.bank-card_logo_name_soyuz {
    background-image: url(../svg/soyuz.svg);
    background-repeat: no-repeat
}

.bank-card_logo_name_spb-bank {
    background-image: url(../svg/spb-bank.svg);
    background-repeat: no-repeat
}

.bank-card_logo_name_tatfondbank {
    background-image: url(../svg/tatfondbank.svg);
    background-repeat: no-repeat
}

.bank-card_logo_name_tinkoff {
    background-image: url(../svg/tinkoff.svg);
    background-repeat: no-repeat
}

.bank-card_logo_name_unicredit {
    background-image: url(../svg/unicredit.svg);
    background-repeat: no-repeat
}

.bank-card_logo_name_vbrr {
    background-image: url(../svg/vbrr.svg);
    background-repeat: no-repeat
}

.bank-card_logo_name_visa-qiwi {
    background-image: url(../svg/visa-qiwi.svg);
    background-repeat: no-repeat
}

.bank-card_logo_name_vneshprombank {
    background-image: url(../svg/vneshprombank.svg);
    background-repeat: no-repeat
}

.bank-card_logo_name_vtb24 {
    background-image: url(../svg/vtb24.svg);
    background-repeat: no-repeat
}

.bank-card_logo_name_ym {
    background-image: url(../svg/ym.svg)
}

.bank-card_logo_name_ym-normal {
    background-image: url(../svg/ym-normal.svg);
    background-repeat: no-repeat
}

.bank-card_logo_name_transcapital {
    background-image: url(../svg/transcapital.svg)
}

.bank-card_logo_name_zenit {
    background-image: url(../svg/zenit.svg)
}

.card-wrapper .card-left.card-left_alfabank .card_type_icon.card_type_visa,
.card-wrapper .card-left.card-left_binbank .card_type_icon.card_type_visa,
.card-wrapper .card-left.card-left_expobank .card_type_icon.card_type_visa,
.card-wrapper .card-left.card-left_fnp-bank .card_type_icon.card_type_visa,
.card-wrapper .card-left.card-left_gasprom .card_type_icon.card_type_visa,
.card-wrapper .card-left.card-left_globex .card_type_icon.card_type_visa,
.card-wrapper .card-left.card-left_leto-bank .card_type_icon.card_type_visa,
.card-wrapper .card-left.card-left_mdm .card_type_icon.card_type_visa,
.card-wrapper .card-left.card-left_mfk .card_type_icon.card_type_visa,
.card-wrapper .card-left.card-left_mts-bank .card_type_icon.card_type_visa,
.card-wrapper .card-left.card-left_novikombank .card_type_icon.card_type_visa,
.card-wrapper .card-left.card-left_rocketbank .card_type_icon.card_type_visa,
.card-wrapper .card-left.card-left_rsb .card_type_icon.card_type_visa,
.card-wrapper .card-left.card-left_russtandart .card_type_icon.card_type_visa,
.card-wrapper .card-left.card-left_sberbank .card_type_icon.card_type_visa,
.card-wrapper .card-left.card-left_soyuz .card_type_icon.card_type_visa,
.card-wrapper .card-left.card-left_tatfondbank .card_type_icon.card_type_visa,
.card-wrapper .card-left.card-left_tinkoff .card_type_icon.card_type_visa,
.card-wrapper .card-left.card-left_visa-qiwi .card_type_icon.card_type_visa,
.card-wrapper .card-left.card-left_vneshprombank .card_type_icon.card_type_visa,
.card-wrapper .card-left.card-left_zenit .card_type_icon.card_type_visa

{
    background-image: url("../svg/visa_white.svg");
}

.card-wrapper .card-left.card-left_alfabank .card_type_icon.card_type_mastercard,
.card-wrapper .card-left.card-left_citibank .card_type_icon.card_type_mastercard,
.card-wrapper .card-left.card-left_expobank .card_type_icon.card_type_mastercard,
.card-wrapper .card-left.card-left_gasprom .card_type_icon.card_type_mastercard,
.card-wrapper .card-left.card-left_mdm .card_type_icon.card_type_mastercard,
.card-wrapper .card-left.card-left_moscredbank .card_type_icon.card_type_mastercard,
.card-wrapper .card-left.card-left_mts-bank .card_type_icon.card_type_mastercard,
.card-wrapper .card-left.card-left_openrocket .card_type_icon.card_type_mastercard,
.card-wrapper .card-left.card-left_rsb .card_type_icon.card_type_mastercard,
.card-wrapper .card-left.card-left_russtandart .card_type_icon.card_type_mastercard,
.card-wrapper .card-left.card-left_sberbank .card_type_icon.card_type_mastercard,
.card-wrapper .card-left.card-left_soyuz .card_type_icon.card_type_mastercard,
.card-wrapper .card-left.card-left_tatfondbank .card_type_icon.card_type_mastercard,
.card-wrapper .card-left.card-left_tinkoff .card_type_icon.card_type_mastercard,
.card-wrapper .card-left.card-left_ym .card_type_icon.card_type_mastercard,
.card-wrapper .card-left.card-left_zenit .card_type_icon.card_type_mastercard
{
    background-image: url("../svg/mastercard_white.svg");
}

.card-wrapper .card-left.card-left_mdm .card_type_icon.card_type_maestro,
.card-wrapper .card-left.card-left_moscredbank .card_type_icon.card_type_maestro,
.card-wrapper .card-left.card-left_russtandart .card_type_icon.card_type_maestro,
.card-wrapper .card-left.card-left_sberbank .card_type_icon.card_type_maestro,
.card-wrapper .card-left.card-left_tatfondbank .card_type_icon.card_type_maestro,
.card-wrapper .card-left.card-left_zenit .card_type_icon.card_type_maestro
{
    background-image: url("../svg/maestro_white.svg");
}


.card-wrapper .card-left.card-left_akbars, .card-wrapper .card-left.card-left_baltinvestbank, .card-wrapper .card-left.card-left_crediteuropebank, .card-wrapper .card-left.card-left_express-bank, .card-wrapper .card-left.card-left_finservice, .card-wrapper .card-left.card-left_intercommerz, .card-wrapper .card-left.card-left_jugra, .card-wrapper .card-left.card-left_light, .card-wrapper .card-left.card-left_mib, .card-wrapper .card-left.card-left_otkritie, .card-wrapper .card-left.card-left_promsvyazbank, .card-wrapper .card-left.card-left_rossiya {
    background: #fff;
    color: #000
}

.card-wrapper .card-left.card-left_akbars .card-valid label, .card-wrapper .card-left.card-left_akbars .bank-card2__validity-text, .card-wrapper .card-left.card-left_baltinvestbank .card-valid label, .card-wrapper .card-left.card-left_baltinvestbank .bank-card2__validity-text, .card-wrapper .card-left.card-left_crediteuropebank .card-valid label, .card-wrapper .card-left.card-left_crediteuropebank .bank-card2__validity-text, .card-wrapper .card-left.card-left_express-bank .card-valid label, .card-wrapper .card-left.card-left_express-bank .bank-card2__validity-text, .card-wrapper .card-left.card-left_finservice .card-valid label, .card-wrapper .card-left.card-left_finservice .bank-card2__validity-text, .card-wrapper .card-left.card-left_intercommerz .card-valid label, .card-wrapper .card-left.card-left_intercommerz .bank-card2__validity-text, .card-wrapper .card-left.card-left_jugra .card-valid label, .card-wrapper .card-left.card-left_jugra .bank-card2__validity-text, .card-wrapper .card-left.card-left_light .card-valid label, .card-wrapper .card-left.card-left_light .bank-card2__validity-text, .card-wrapper .card-left.card-left_mib .card-valid label, .card-wrapper .card-left.card-left_mib .bank-card2__validity-text, .card-wrapper .card-left.card-left_otkritie .card-valid label, .card-wrapper .card-left.card-left_otkritie .bank-card2__validity-text, .card-wrapper .card-left.card-left_promsvyazbank .card-valid label, .card-wrapper .card-left.card-left_promsvyazbank .bank-card2__validity-text, .card-wrapper .card-left.card-left_rossiya .card-valid label, .card-wrapper .card-left.card-left_rossiya .bank-card2__validity-text {
    color: #000;
    opacity: .5
}

.card-wrapper .card-left.card-left_akbars .bank-card2__name {
    color: #000
}

.card-wrapper .card-left.card-left_akbars .bank-card2__validity-devider, .card-wrapper .card-left.card-left_akbars .label, .card-wrapper .card-left.card-left_baltinvestbank .bank-card2__validity-devider, .card-wrapper .card-left.card-left_baltinvestbank .label, .card-wrapper .card-left.card-left_crediteuropebank .bank-card2__validity-devider, .card-wrapper .card-left.card-left_crediteuropebank .label, .card-wrapper .card-left.card-left_express-bank .bank-card2__validity-devider, .card-wrapper .card-left.card-left_express-bank .label, .card-wrapper .card-left.card-left_finservice .bank-card2__validity-devider, .card-wrapper .card-left.card-left_finservice .label, .card-wrapper .card-left.card-left_intercommerz .bank-card2__validity-devider, .card-wrapper .card-left.card-left_intercommerz .label, .card-wrapper .card-left.card-left_jugra .bank-card2__validity-devider, .card-wrapper .card-left.card-left_jugra .label, .card-wrapper .card-left.card-left_light .bank-card2__validity-devider, .card-wrapper .card-left.card-left_light .label, .card-wrapper .card-left.card-left_mib .bank-card2__validity-devider, .card-wrapper .card-left.card-left_mib .label, .card-wrapper .card-left.card-left_otkritie .bank-card2__validity-devider, .card-wrapper .card-left.card-left_otkritie .label, .card-wrapper .card-left.card-left_promsvyazbank .bank-card2__validity-devider, .card-wrapper .card-left.card-left_promsvyazbank .label, .card-wrapper .card-left.card-left_rossiya .bank-card2__validity-devider, .card-wrapper .card-left.card-left_rossiya .label {
    color: #000;
    opacity: .4
}

.card-wrapper .card-left.card-left_openrocket, .card-wrapper .card-left.card-left_rocketbank, .card-wrapper .card-left.card-left_ym {
    background: #272727;
    color: #fff
}

.card-wrapper .card-left.card-left_openrocket .card-valid label, .card-wrapper .card-left.card-left_openrocket .bank-card2__validity-text, .card-wrapper .card-left.card-left_rocketbank .card-valid label, .card-wrapper .card-left.card-left_rocketbank .bank-card2__validity-text, .card-wrapper .card-left.card-left_ym .card-valid label, .card-wrapper .card-left.card-left_ym .bank-card2__validity-text {
    color: #fff;
    opacity: .6
}

.card-wrapper .card-left.card-left_openrocket .bank-card2__name {
    color: #fff
}

.card-wrapper .card-left.card-left_openrocket .bank-card2__validity-devider, .card-wrapper .card-left.card-left_openrocket .label, .card-wrapper .card-left.card-left_rocketbank .bank-card2__validity-devider, .card-wrapper .card-left.card-left_rocketbank .label, .card-wrapper .card-left.card-left_ym .bank-card2__validity-devider, .card-wrapper .card-left.card-left_ym .label {
    color: #fff;
    opacity: .4
}

.card-wrapper .card-left.card-left_alfabank {
    background-image: linear-gradient(225deg, maroon 0%, #d6191f 100%);
    color: #fff
}

.card-wrapper .card-left.card-left_alfabank .card-valid label, .card-wrapper .card-left.card-left_alfabank .bank-card2__validity-text {
    color: #fff;
    opacity: 1
}

.card-wrapper .card-left.card-left_alfabank .bank-card2__name {
    color: #fff
}

.card-wrapper .card-left.card-left_alfabank .bank-card2__validity-devider, .card-wrapper .card-left.card-left_alfabank .label {
    color: #fff;
    opacity: .7
}

.card-wrapper .card-left.card-left_avangard {
    background: #fff;
    color: #003a23
}

.card-wrapper .card-left.card-left_avangard .card-valid label, .card-wrapper .card-left.card-left_avangard .bank-card2__validity-text {
    color: #003a23;
    opacity: 1
}

.card-wrapper .card-left.card-left_avangard .bank-card2__name {
    color: #003a23
}

.card-wrapper .card-left.card-left_avangard .bank-card2__validity-devider, .card-wrapper .card-left.card-left_avangard .label {
    color: #000;
    opacity: .4
}

.card-wrapper .card-left.card-left_az-to-bank {
    background: #fafafa;
    color: #fff
}

.card-wrapper .card-left.card-left_az-to-bank .card-valid label, .card-wrapper .card-left.card-left_az-to-bank .bank-card2__validity-text {
    color: #fff;
    opacity: .6
}

.card-wrapper .card-left.card-left_az-to-bank .bank-card2__name {
    color: #fff
}

.card-wrapper .card-left.card-left_az-to-bank .bank-card2__validity-devider, .card-wrapper .card-left.card-left_az-to-bank .label {
    color: #fff;
    opacity: .4
}

.card-wrapper .card-left.card-left_bank-moskvi {
    background: #f1f1f1;
    color: #000
}

.card-wrapper .card-left.card-left_bank-moskvi .card-valid label, .card-wrapper .card-left.card-left_bank-moskvi .bank-card2__validity-text {
    color: #000;
    opacity: .5
}

.card-wrapper .card-left.card-left_bank-moskvi .bank-card2__name {
    color: #000
}

.card-wrapper .card-left.card-left_bank-moskvi .bank-card2__validity-devider, .card-wrapper .card-left.card-left_bank-moskvi .label {
    color: #000;
    opacity: .4
}

.card-wrapper .card-left.card-left_binbank {
    background: linear-gradient(135deg, #51c3f0 0%, #2c2882 100%);
    color: #fff
}

.card-wrapper .card-left.card-left_binbank .card-valid label, .card-wrapper .card-left.card-left_binbank .bank-card2__validity-text {
    color: #fff;
    opacity: .9
}

.card-wrapper .card-left.card-left_binbank .bank-card2__name {
    color: #fff
}

.card-wrapper .card-left.card-left_binbank .bank-card2__validity-devider, .card-wrapper .card-left.card-left_binbank .label {
    color: #fff;
    opacity: .7
}

.card-wrapper .card-left.card-left_center-invest {
    background: #fff;
    color: #50b848
}

.card-wrapper .card-left.card-left_center-invest .card-valid label, .card-wrapper .card-left.card-left_center-invest .bank-card2__validity-text {
    color: #50b848;
    opacity: 1
}

.card-wrapper .card-left.card-left_center-invest .bank-card2__name {
    color: #50b848
}

.card-wrapper .card-left.card-left_center-invest .bank-card2__validity-devider, .card-wrapper .card-left.card-left_center-invest .label {
    color: #000;
    opacity: .4
}

.card-wrapper .card-left.card-left_citibank {
    background: linear-gradient(90deg, #d3f2ff 0%, #068fcb 54%, #223778 100%);
    color: #fff
}

.card-wrapper .card-left.card-left_citibank .card-valid label, .card-wrapper .card-left.card-left_citibank .bank-card2__validity-text {
    color: #fff;
    opacity: .9
}

.card-wrapper .card-left.card-left_citibank .bank-card2__name {
    color: #fff
}

.card-wrapper .card-left.card-left_citibank .bank-card2__validity-devider, .card-wrapper .card-left.card-left_citibank .label {
    color: #fff;
    opacity: .7
}

.card-wrapper .card-left.card-left_expobank {
    background: #034962;
    color: #fff
}

.card-wrapper .card-left.card-left_expobank .card-valid label, .card-wrapper .card-left.card-left_expobank .bank-card2__validity-text {
    color: #fff;
    opacity: .9
}

.card-wrapper .card-left.card-left_expobank .bank-card2__name {
    color: #fff
}

.card-wrapper .card-left.card-left_expobank .bank-card2__validity-devider, .card-wrapper .card-left.card-left_expobank .label {
    color: #fff;
    opacity: .7
}

.card-wrapper .card-left.card-left_fnp-bank {
    background: #0079c2;
    color: #fff
}

.card-wrapper .card-left.card-left_fnp-bank .card-valid label, .card-wrapper .card-left.card-left_fnp-bank .bank-card2__validity-text {
    color: #fff;
    opacity: .9
}

.card-wrapper .card-left.card-left_fnp-bank .bank-card2__name {
    color: #fff
}

.card-wrapper .card-left.card-left_fnp-bank .bank-card2__validity-devider, .card-wrapper .card-left.card-left_fnp-bank .label {
    color: #fff;
    opacity: .7
}

.card-wrapper .card-left.card-left_gasprom {
    background: #073776;
    color: #fff
}

.card-wrapper .card-left.card-left_gasprom .card-valid label, .card-wrapper .card-left.card-left_gasprom .bank-card2__validity-text {
    color: #fff;
    opacity: .9
}

.card-wrapper .card-left.card-left_gasprom .bank-card2__name {
    color: #fff
}

.card-wrapper .card-left.card-left_gasprom .bank-card2__validity-devider, .card-wrapper .card-left.card-left_gasprom .label {
    color: #fff;
    opacity: .5
}

.card-wrapper .card-left.card-left_globex {
    background: #02356c;
    color: #fff
}

.card-wrapper .card-left.card-left_globex .card-valid label, .card-wrapper .card-left.card-left_globex .bank-card2__validity-text {
    color: #fff;
    opacity: 1
}

.card-wrapper .card-left.card-left_globex .bank-card2__name {
    color: #fff
}

.card-wrapper .card-left.card-left_globex .bank-card2__validity-devider, .card-wrapper .card-left.card-left_globex .label {
    color: #fff;
    opacity: .7
}

.card-wrapper .card-left.card-left_homecredit {
    background: #e1ddd6;
    color: #000
}

.card-wrapper .card-left.card-left_homecredit .card-valid label, .card-wrapper .card-left.card-left_homecredit .bank-card2__validity-text {
    color: #000;
    opacity: .6
}

.card-wrapper .card-left.card-left_homecredit .bank-card2__name {
    color: #000
}

.card-wrapper .card-left.card-left_homecredit .bank-card2__validity-devider, .card-wrapper .card-left.card-left_homecredit .label {
    color: #000;
    opacity: .5
}

.card-wrapper .card-left.card-left_inteza {
    background: #fff;
    color: #006c37
}

.card-wrapper .card-left.card-left_inteza .card-valid label, .card-wrapper .card-left.card-left_inteza .bank-card2__validity-text {
    color: #006c37;
    opacity: 1
}

.card-wrapper .card-left.card-left_inteza .bank-card2__name {
    color: #006c37
}

.card-wrapper .card-left.card-left_inteza .bank-card2__validity-devider, .card-wrapper .card-left.card-left_inteza .label {
    color: #000;
    opacity: .4
}

.card-wrapper .card-left.card-left_leto-bank {
    background: linear-gradient(-45deg, #de3a6c 0%, #f7a349 100%);
    color: #fff
}

.card-wrapper .card-left.card-left_leto-bank .card-valid label, .card-wrapper .card-left.card-left_leto-bank .bank-card2__validity-text {
    color: #fff;
    opacity: 1
}

.card-wrapper .card-left.card-left_leto-bank .bank-card2__name {
    color: #fff
}

.card-wrapper .card-left.card-left_leto-bank .bank-card2__validity-devider, .card-wrapper .card-left.card-left_leto-bank .label {
    color: #fff;
    opacity: .7
}

.card-wrapper .card-left.card-left_mdm {
    background: linear-gradient(135deg, #dfa329 0%, #c85320 100%);
    color: #fff
}

.card-wrapper .card-left.card-left_mdm .card-valid label, .card-wrapper .card-left.card-left_mdm .bank-card2__validity-text {
    color: #fff;
    opacity: 1
}

.card-wrapper .card-left.card-left_mdm .bank-card2__name {
    color: #fff
}

.card-wrapper .card-left.card-left_mdm .bank-card2__validity-devider, .card-wrapper .card-left.card-left_mdm .label {
    color: #fff;
    opacity: .7
}

.card-wrapper .card-left.card-left_mfk {
    background: #243847;
    color: #fff
}

.card-wrapper .card-left.card-left_mfk .card-valid label, .card-wrapper .card-left.card-left_mfk .bank-card2__validity-text {
    color: #fff;
    opacity: .9
}

.card-wrapper .card-left.card-left_mfk .bank-card2__name {
    color: #fff
}

.card-wrapper .card-left.card-left_mfk .bank-card2__validity-devider, .card-wrapper .card-left.card-left_mfk .label {
    color: #fff;
    opacity: .7
}

.card-wrapper .card-left.card-left_moscredbank {
    background: #b2002c;
    color: #fff
}

.card-wrapper .card-left.card-left_moscredbank .card-valid label, .card-wrapper .card-left.card-left_moscredbank .bank-card2__validity-text {
    color: #fff;
    opacity: 1
}

.card-wrapper .card-left.card-left_moscredbank .bank-card2__name {
    color: #fff
}

.card-wrapper .card-left.card-left_moscredbank .bank-card2__validity-devider, .card-wrapper .card-left.card-left_moscredbank .label {
    color: #fff;
    opacity: .7
}

.card-wrapper .card-left.card-left_mts-bank {
    background-image: linear-gradient(-45deg, #7b0211 0%, #c2171f 100%);
    color: #fff
}

.card-wrapper .card-left.card-left_mts-bank .card-valid label, .card-wrapper .card-left.card-left_mts-bank .bank-card2__validity-text {
    color: #fff;
    opacity: 1
}

.card-wrapper .card-left.card-left_mts-bank .bank-card2__name {
    color: #fff
}

.card-wrapper .card-left.card-left_mts-bank .bank-card2__validity-devider, .card-wrapper .card-left.card-left_mts-bank .label {
    color: #fff;
    opacity: .8
}

.card-wrapper .card-left.card-left_novikombank {
    background: #2b4087;
    color: #fff
}

.card-wrapper .card-left.card-left_novikombank .card-valid label, .card-wrapper .card-left.card-left_novikombank .bank-card2__validity-text {
    color: #fff;
    opacity: .9
}

.card-wrapper .card-left.card-left_novikombank .bank-card2__name {
    color: #fff
}

.card-wrapper .card-left.card-left_novikombank .bank-card2__validity-devider, .card-wrapper .card-left.card-left_novikombank .label {
    color: #fff;
    opacity: .6
}

.card-wrapper .card-left.card-left_probusiness {
    background: #fff;
    color: #005c4d
}

.card-wrapper .card-left.card-left_probusiness .card-valid label, .card-wrapper .card-left.card-left_probusiness .bank-card2__validity-text {
    color: #005c4d;
    opacity: 1
}

.card-wrapper .card-left.card-left_probusiness .bank-card2__name {
    color: #005c4d
}

.card-wrapper .card-left.card-left_probusiness .bank-card2__validity-devider, .card-wrapper .card-left.card-left_probusiness .label {
    color: #000;
    opacity: .4
}

.card-wrapper .card-left.card-left_raiffeisen {
    background: linear-gradient(138deg, #f0f0f0 0%, #b4b4b4 100%);
    color: #000
}

.card-wrapper .card-left.card-left_raiffeisen .card-valid label, .card-wrapper .card-left.card-left_raiffeisen .bank-card2__validity-text {
    color: #000;
    opacity: .5
}

.card-wrapper .card-left.card-left_raiffeisen .bank-card2__name {
    color: #000
}

.card-wrapper .card-left.card-left_raiffeisen .bank-card2__validity-devider, .card-wrapper .card-left.card-left_raiffeisen .label {
    color: #000;
    opacity: .4
}

.card-wrapper .card-left.card-left_rosbank {
    background: #eef3f8;
    color: #000
}

.card-wrapper .card-left.card-left_rosbank .card-valid label, .card-wrapper .card-left.card-left_rosbank .bank-card2__validity-text {
    color: #000;
    opacity: .5
}

.card-wrapper .card-left.card-left_rosbank .bank-card2__name {
    color: #000
}

.card-wrapper .card-left.card-left_rosbank .bank-card2__validity-devider, .card-wrapper .card-left.card-left_rosbank .label {
    color: #000;
    opacity: .4
}

.card-wrapper .card-left.card-left_rsb {
    background: #10512d;
    color: #fff
}

.card-wrapper .card-left.card-left_rsb .card-valid label, .card-wrapper .card-left.card-left_rsb .bank-card2__validity-text {
    color: #fff;
    opacity: 1
}

.card-wrapper .card-left.card-left_rsb .bank-card2__name {
    color: #fff
}

.card-wrapper .card-left.card-left_rsb .bank-card2__validity-devider, .card-wrapper .card-left.card-left_rsb .label {
    color: #fff;
    opacity: .7
}

.card-wrapper .card-left.card-left_rgs {
    background: #fff;
    color: #7e1b20
}

.card-wrapper .card-left.card-left_rgs .card-valid label, .card-wrapper .card-left.card-left_rgs .bank-card2__validity-text {
    color: #7e1b20;
    opacity: 1
}

.card-wrapper .card-left.card-left_rgs .bank-card2__name {
    color: #7e1b20
}

.card-wrapper .card-left.card-left_rgs .bank-card2__validity-devider, .card-wrapper .card-left.card-left_rgs .label {
    color: #000;
    opacity: .4
}

.card-wrapper .card-left.card-left_russtandart {
    background: #5c5242;
    color: #fff
}

.card-wrapper .card-left.card-left_russtandart .card-valid label, .card-wrapper .card-left.card-left_russtandart .bank-card2__validity-text {
    color: #fff;
    opacity: .6
}

.card-wrapper .card-left.card-left_russtandart .bank-card2__name {
    color: #fff
}

.card-wrapper .card-left.card-left_russtandart .bank-card2__validity-devider, .card-wrapper .card-left.card-left_russtandart .label {
    color: #fff;
    opacity: .4
}

.card-wrapper .card-left.card-left_sberbank {
    background: #00703c;
    color: #fff
}

.card-wrapper .card-left.card-left_sberbank .card-valid label, .card-wrapper .card-left.card-left_sberbank .bank-card2__validity-text {
    color: #fff;
    opacity: 1
}

.card-wrapper .card-left.card-left_sberbank .bank-card2__name {
    color: #fff
}

.card-wrapper .card-left.card-left_sberbank .bank-card2__validity-devider, .card-wrapper .card-left.card-left_sberbank .label {
    color: #fff;
    opacity: .7
}

.card-wrapper .card-left.card-left_skb-bank {
    background: #fff;
    color: #016a52
}

.card-wrapper .card-left.card-left_skb-bank .card-valid label, .card-wrapper .card-left.card-left_skb-bank .bank-card2__validity-text {
    color: #016a52;
    opacity: 1
}

.card-wrapper .card-left.card-left_skb-bank .bank-card2__name {
    color: #016a52
}

.card-wrapper .card-left.card-left_skb-bank .bank-card2__validity-devider, .card-wrapper .card-left.card-left_skb-bank .label {
    color: #000;
    opacity: .4
}

.card-wrapper .card-left.card-left_smp-bank {
    background: linear-gradient(180deg, #eaeaea 0%, #fff 94%);
    color: #000
}

.card-wrapper .card-left.card-left_smp-bank .card-valid label, .card-wrapper .card-left.card-left_smp-bank .bank-card2__validity-text {
    color: #000;
    opacity: .6
}

.card-wrapper .card-left.card-left_smp-bank .bank-card2__name {
    color: #000
}

.card-wrapper .card-left.card-left_smp-bank .bank-card2__validity-devider, .card-wrapper .card-left.card-left_smp-bank .label {
    color: #000;
    opacity: .5
}

.card-wrapper .card-left.card-left_soyuz {
    background: #263679;
    color: #fff
}

.card-wrapper .card-left.card-left_soyuz .card-valid label, .card-wrapper .card-left.card-left_soyuz .bank-card2__validity-text {
    color: #fff;
    opacity: .9
}

.card-wrapper .card-left.card-left_soyuz .bank-card2__name {
    color: #fff
}

.card-wrapper .card-left.card-left_soyuz .bank-card2__validity-devider, .card-wrapper .card-left.card-left_soyuz .label {
    color: #fff;
    opacity: .7
}

.card-wrapper .card-left.card-left_spb-bank {
    background: linear-gradient(180deg, #fff 0%, #f5f5f5 100%);
    color: #000
}

.card-wrapper .card-left.card-left_spb-bank .card-valid label, .card-wrapper .card-left.card-left_spb-bank .bank-card2__validity-text {
    color: #000;
    opacity: .5
}

.card-wrapper .card-left.card-left_spb-bank .bank-card2__name {
    color: #000
}

.card-wrapper .card-left.card-left_spb-bank .bank-card2__validity-devider, .card-wrapper .card-left.card-left_spb-bank .label {
    color: #000;
    opacity: .4
}

.card-wrapper .card-left.card-left_tatfondbank {
    background: #125f4f;
    color: #fff
}

.card-wrapper .card-left.card-left_tatfondbank .card-valid label, .card-wrapper .card-left.card-left_tatfondbank .bank-card2__validity-text {
    color: #fff;
    opacity: .9
}

.card-wrapper .card-left.card-left_tatfondbank .bank-card2__name {
    color: #fff
}

.card-wrapper .card-left.card-left_tatfondbank .bank-card2__validity-devider, .card-wrapper .card-left.card-left_tatfondbank .label, .card-wrapper .card-left.card-left_tinkoff .card-valid label, .card-wrapper .card-left.card-left_tinkoff .bank-card2__validity-text {
    color: #fff;
    opacity: .6
}

.card-wrapper .card-left.card-left_tinkoff {
    background: #303030;
    color: #fff
}

.card-wrapper .card-left.card-left_tinkoff .bank-card2__name {
    color: #fff
}

.card-wrapper .card-left.card-left_tinkoff .bank-card2__validity-devider, .card-wrapper .card-left.card-left_tinkoff .label {
    color: #fff;
    opacity: .4
}

.card-wrapper .card-left.card-left_unicredit {
    background: linear-gradient(180deg, #dddee0 0%, #7b889a 100%);
    color: #fff
}

.card-wrapper .card-left.card-left_unicredit .card-valid label, .card-wrapper .card-left.card-left_unicredit .bank-card2__validity-text {
    color: #fff;
    opacity: .7
}

.card-wrapper .card-left.card-left_unicredit .bank-card2__name {
    color: #fff
}

.card-wrapper .card-left.card-left_unicredit .bank-card2__validity-devider, .card-wrapper .card-left.card-left_unicredit .label {
    color: #fff;
    opacity: .7
}

.card-wrapper .card-left.card-left_vbrr {
    background: #cedef4;
    color: #0d227d
}

.card-wrapper .card-left.card-left_vbrr .card-valid label, .card-wrapper .card-left.card-left_vbrr .bank-card2__validity-text {
    color: #0d227d;
    opacity: 1
}

.card-wrapper .card-left.card-left_vbrr .bank-card2__name {
    color: #0d227d
}

.card-wrapper .card-left.card-left_vbrr .bank-card2__validity-devider, .card-wrapper .card-left.card-left_vbrr .label {
    color: #000;
    opacity: .5
}

.card-wrapper .card-left.card-left_vneshprombank {
    background: #1c7c6a;
    color: #fff
}

.card-wrapper .card-left.card-left_vneshprombank .card-valid label, .card-wrapper .card-left.card-left_vneshprombank .bank-card2__validity-text {
    color: #fff;
    opacity: .9
}

.card-wrapper .card-left.card-left_vneshprombank .bank-card2__name {
    color: #fff
}

.card-wrapper .card-left.card-left_vneshprombank .bank-card2__validity-devider, .card-wrapper .card-left.card-left_vneshprombank .label {
    color: #fff;
    opacity: .6
}

.card-wrapper .card-left.card-left_vtb24 {
    background: linear-gradient(180deg, #fff 0%, #f8fbff 100%);
    color: #3d444e
}

.card-wrapper .card-left.card-left_vtb24 .card-valid label, .card-wrapper .card-left.card-left_vtb24 .bank-card2__validity-text {
    color: #3d444e;
    opacity: .8
}

.card-wrapper .card-left.card-left_vtb24 .bank-card2__name {
    color: #3d444e
}

.card-wrapper .card-left.card-left_vtb24 .bank-card2__validity-devider, .card-wrapper .card-left.card-left_vtb24 .label {
    color: #3d444e;
    opacity: .7
}

.card-wrapper .card-left.card-left_visa-qiwi {
    background: #333;
    color: #fff
}

.card-wrapper .card-left.card-left_visa-qiwi .card-valid label, .card-wrapper .card-left.card-left_visa-qiwi .bank-card2__validity-text {
    color: #fff;
    opacity: .6
}

.card-wrapper .card-left.card-left_visa-qiwi .bank-card2__name {
    color: #fff
}

.card-wrapper .card-left.card-left_visa-qiwi .bank-card2__validity-devider, .card-wrapper .card-left.card-left_visa-qiwi .label {
    color: #fff;
    opacity: .4
}

.card-wrapper .card-left.card-left_transcapital {
    background: #fff;
    color: #000
}

.card-wrapper .card-left.card-left_transcapital .card-valid label, .card-wrapper .card-left.card-left_transcapital .bank-card2__validity-text {
    color: #000;
    opacity: .5
}

.card-wrapper .card-left.card-left_transcapital .bank-card2__name {
    color: #000
}

.card-wrapper .card-left.card-left_transcapital .bank-card2__validity-devider, .card-wrapper .card-left.card-left_transcapital .label {
    color: #000;
    opacity: .4
}

.card-wrapper .card-left.card-left_zenit {
    background: #007176;
    color: #000
}

.card-wrapper .card-left.card-left_zenit .card-valid label, .card-wrapper .card-left.card-left_zenit .bank-card2__validity-text {
    color: #000;
    opacity: .9
}

.card-wrapper .card-left.card-left_zenit .bank-card2__name {
    color: #000
}

.card-wrapper .card-left.card-left_zenit .bank-card2__validity-devider, .card-wrapper .card-left.card-left_zenit .label {
    color: #000;
    opacity: .5
}

.card-wrapper .card-left.card-left_white {
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1), 0 0 1px 0 rgba(0, 0, 0, .05), 0 3px 6px 0 rgba(0, 0, 0, .05)
}


/** стили для мобилок */
@media (max-width: 460px) {

    .card-wrapper {
        width: 310px;
        height: 240px;
        margin: auto;
    }

    .card-wrapper .card-side {
        width: 280px;
        height: 220px;
    }

    .card-wrapper .card-left {
        padding: 65px 15px 0;
    }

    .card-wrapper .card-right {
        margin-left: 0;
        float: right;
        margin-top: -125px;
        padding: 120px 10px 0 49px;
    }

    .card-cvc label {
        vertical-align: middle;
        display: inline-block;
        max-width: 140px;
        text-align: right;
        margin-right: 10px;
        margin-top: 15px;
        float: right;
    }

    .card-cvc .input_box {
        width: 65px;
        float: right;
    }

    .input_box input {
        height: 54px;
    }

    .card-valid .divider, .card-valid .input_box {
        line-height: 54px;
    }

}
