
.advantages {
    padding: 52px 0 90px;
}

.advantages .advantage {
    text-align: center;
    width: 20%;
    float: left;
    line-height: 16px;
    font-family: PT Sans, sans-serif;
    color: #19405E;
    font-size: 14px;
}

.advantages .advantage h2 {
    font-size: 18px;
    font-weight: bold;
    color: #113A59;
}

.advantages .advantage + .advantage {
    margin-left: 6%
}

.advantages .advantage i {
    display: block;
    height: 60px;
    line-height: 60px;
    margin-bottom: 13px
}

.advantages .advantage i:before {
    content: "";
    display: inline-block;
    vertical-align: middle
}

.advantages .advantage i.payment-icon:before {
    width: 49px; height: 60px;
    background: url('sprite.png') -90px -90px;
}

.advantages .advantage i.gov-icon:before {
    background: url(sprite.png)  -10px -90px;
    width: 60px;
    height: 60px
}

.advantages .advantage i.fast-icon:before {
    background: url(sprite.png) -10px -10px;
    width: 66px;
    height: 60px
}

.advantages .advantage i.pci-icon:before {
    background: url(sprite.png)  -96px -10px;
    width: 68px;
    height: 53px
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
    .advantages .advantage i.payment-icon:before {
        width: 98px;
        height: 120px;
        background: url('sprite@2x.png') -150px -150px;
    }

    .advantages .advantage i.gov-icon:before {
        width: 120px; height: 120px;
        background: url('sprite@2x.png') -10px -150px;
    }

    .advantages .advantage i.fast-icon:before {
        background: url(sprite@2x.png) -10px -10px;
        width: 132px; height: 120px;
    }

    .advantages .advantage i.pci-icon:before {
        background: url(sprite@2x.png) -162px -10px;
        width: 136px; height: 106px;
    }
}

